// Forms Colors
$sky-blue: #0af;
$light-sea-green: #1abc9c;
$dark-grey: #555555;
$grey: #999999;
$light-grey: #ccc;
$black: #333333;
$white: #fff;
$blueish: #f5f7fa;
$danger-color: #ff3e3e;
$orange: #ff8f1c;

$light: #e8eaed;
