@import "/src/styles/colors.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 22px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $grey;
  font-size: 13px;
}

.closeButton {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1px;
  padding-top: 2px;
  margin-right: 8px;

  path {
    stroke: $danger-color;
    fill: $danger-color;
  }

  &:hover {
    path {
      stroke: $orange;
      fill: $orange;
    }
  }
}
