@import "/src/styles/colors.scss";

@mixin container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 1rem auto;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  margin-bottom: 6rem;

  @media (min-width: "768px") {
    width: 80vw;
    padding: 1rem 2rem;
  }

  @media (min-width: "1200px") {
    width: 65vw;
  }
}

.light {
  @include container();
  background-color: $blueish;
  box-shadow: 0 1px 6px rgb(32 33 76 / 20%);
}

.dark {
  @include container();
  background-color: $black;
  box-shadow: 0 1px 6px rgb(32 33 36 / 78%);
}
