@import "/src/styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.isHalfSizeOnDektop {
  width: 48%;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
}

.light {
  color: $black;
}

.dark {
  color: $grey;
}
